<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Casielles_Enrique_Hilos_Almacen/src/dam/psp/Principal.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dam.psp.Principal"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Casielles_Enrique_Hilos_Almacen"/>
</launchConfiguration>
